body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $dark-900;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

// font-family: 'Ruda', sans-serif;

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: 'Ruda', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 30px;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-link {}

.link-boy {
  padding: 12px 24px;
  border-radius: 6px;
  background-color: $green-900;
  color: $white;
  transition: background-color 0.5s, box-shadow 0.5, outline 0.5s;

  &:hover {
    background-color: #4D810C;
  }

  &:focus {
    outline: 4px solid $green-200;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}

.link-show {
  background-color: $white;
  color: $green-900;
  border: 1px solid $green-900;
  transition: background-color 0.5s, box-shadow 0.5;

  &:hover {
    background-color: $green-100;
  }

  &:focus {
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
  }

  &:active {
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
  }
}