<footer class="footer">
  <div class="container">
    <a class="logo" href="#">
      <img class="logo__img" src="./images/icons/svg/logo.svg" alt="Логотип онлайн-маркета Фрешок">
    </a>
    <div class="footer__inner">
      <form class="form-subscription" name="subscription" action="#">
        <label class="form-subscription__label" for="search">
          Следите за нашими акциями
        </label>
        <div class="form-subscription__body">
          <input class="form-subscription__feild" type="search" id="search" name="search" placeholder="email@email.com"
            required>
          <button class="form-subscription__btn link-boy" type="submit">
            подписаться
          </button>
        </div>
      </form>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="text-link" href="#">О нас</a>
          </li>
          <li class="footer__item">
            <a class="text-link" href="#">Контакты</a>
          </li>
          <li class="footer__item">
            <a class="text-link" href="#">Публичная оферта</a>
          </li>
          <li class="footer__item">
            <a class="text-link" href="#">Оплата и доставка</a>
          </li>
          <li class="footer__item">
            <a class="text-link" href="#">Вакансии</a>
          </li>
          <li class="footer__item">
            <a class="text-link" href="#">Акции</a>
          </li>
          <li class="footer__item">
            <a class="text-link" href="#">Отзывы</a>
          </li>
          <li class="footer__item">
            <a class="text-link" href="#">Новости</a>
          </li>
        </ul>
      </nav>
      <address class="address">
        <ul class="address__list">
          <li class="address__item">
            Горячая линия:
            <a class="address__link text-link" href="tel:+380501112233">
              +38 050 111 22 33
            </a>
          </li>
          <li class="address__item">
            <a class="address__link text-link" href="#">
              Запорожье, ул. Т.Г. Шевченко, 1
            </a>
          </li>
        </ul>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__icon" width="22px" height="32px">
                <use xlink:href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__icon" width="32px" height="28px">
                <use xlink:href="./images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__icon" width="28px" height="27px">
                <use xlink:href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__icon" width="26px" height="26px">
                <use xlink:href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="copy">
      <span class="copy__text">
        © 2022 ФРЕШОК
      </span>
      <ul class="copy__list">
        <li class="copy__item copy__item--visa"></li>
        <li class="copy__item copy__item--master"></li>
      </ul>
    </div>
  </div>
</footer>