<header class="header">
  <div class="header__top">
    <div class="container">
      <nav class="header__nav">
        <ul class="header__info">
          <li class="header__info-item">
            <a class="header__info-link" href="#">
              <svg class="header__info-icon" width="32px" height="21px">
                <use xlink:href="images/sprite.svg#icon-delivery"></use>
              </svg>
              адрес и время доставки
            </a>
          </li>
          <li class="header__info-item">
            <a class="header__info-link" href="#">
              <svg class="header__info-icon" width="22px" height="22px">
                <use xlink:href="images/sprite.svg#icon-tel"></use>
              </svg>
              горячая линия 24/7
            </a>
          </li>
        </ul>

        <ul class="header__menu">
          <li class="header__item">
            <a class="text-link" href="#">ДОСТАВКА</a>
          </li>
          <li class="header__item">
            <a class="text-link" href="#">О НАС</a>
          </li>
          <li class="header__item">
            <a class="text-link" href="#">НОВОСТИ</a>
          </li>
        </ul>

      </nav>
    </div>

  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__inner">
        <a class="logo" href="#">
          <img class="logo__img" src="images/icons/svg/logo.svg" width="200px" height="60px"
            alt="Логотип онлайн-маркета Фрешок">
        </a>
        <div class="catalog-products">
          <button class="catalog-products__btn">
            <svg class="catalog-products__icon" width="25px" height="17px">
              <use xlink:href="images/sprite.svg#icon-menu"></use>
            </svg>
            Каталог продуктов
            <svg class="catalog-products__icon catalog-products__icon--rotate" width="10px" height="18px">
              <use xlink:href="images/sprite.svg#icon-arrowmenu"></use>
            </svg>
          </button>
          <ul class="catalog-products__list">
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Овощи и фрукты</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Бакалея</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Молочные продукты</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Хлеб</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Мясо</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Колбаса</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Рыба</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Алкоголь</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Напитки</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Торты</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Мясо</a>
            </li>
            <li class="catalog-products__item">
              <a class="catalog-products__link" href="#">Чай, кофе</a>
            </li>
          </ul>
        </div>
        <form class="form-search" action="#" name="search">

          <svg class="form-search__icon" width="20px" height="20px">
            <use xlink:href="images/sprite.svg#icon-search"></use>
          </svg>
          <label class="form-search__label">
            <input class="form-search__input" type="search" placeholder="Найти в магазине ..." required>
            <button class="form-search__btn">
              поиск
            </button>
          </label>
        </form>
        <ul class="user-nav">
          <li class="user-nav__item">
            <button class="user-nav__btn">
              <svg class="user-nav__icon" width="24px" height="32px">
                <use xlink:href="images/sprite.svg#icon-user"></use>
              </svg>
            </button>
          </li>
          <li class="user-nav__item">
            <button class="user-nav__btn">
              <svg class="user-nav__icon" width="32px" height="30px">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="user-nav__order">12</span>
            </button>
          </li>
          <li class="user-nav__item">
            <button class="user-nav__btn">
              <svg class="user-nav__icon" width="32px" height="30px">
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
              <span class="user-nav__order">12</span>
            </button>
          </li>
        </ul>
      </div>
    </div>

  </div>
  </div>

</header>